@model Frontek_Full_Web_E_Commerce.Presentacion.Models.TarjetaCreateViewModel

@{
    ViewBag.Title = "Crear Tarjeta";
}

<h2>Crear Tarjeta</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(m => m.NumeroTarjeta)
            @Html.TextBoxFor(m => m.NumeroTarjeta, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NumeroTarjeta)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FechaVencimiento)
            @Html.TextBoxFor(m => m.FechaVencimiento, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(m => m.FechaVencimiento)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CCV)
            @Html.TextBoxFor(m => m.CCV, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CCV)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Propietario)
            @Html.TextBoxFor(m => m.Propietario, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Propietario)
        </div>

        <button type="submit" class="btn btn-primary">Crear</button>
    </div>
}

<div>
    @Html.ActionLink("Volver a mi cuenta", "Index", "Manage", null, new { @class = "btn btn-secondary" })
</div>