@model Frontek_Full_Web_E_Commerce.Presentacion.Models.TarjetaDetailsViewModel
@{
    ViewBag.Title = "Detalles de mi método de pago";
}

<h2>@ViewBag.Title</h2>

<div class="card p-3 mt-3">

    <h4>Tarjeta</h4>
    <hr />

    <dl class="dl-horizontal">

        <dt>Número de Tarjeta</dt>
        <dd>
            @Model.NumeroMascarado
        </dd>

        <dt>Fecha de Vencimiento</dt>
        <dd>
            @(Model.FechaVencimiento?.ToShortDateString() ?? "No disponible")
        </dd>

        <dt>Propietario</dt>
        <dd>
            @Model.Propietario
        </dd>

    </dl>

</div>

<div class="mt-3">

    @Html.ActionLink(
        "Volver a mi cuenta",
        "Index",
        "Manage",
        null,
        new { @class = "btn btn-secondary" }
    )

    @Html.ActionLink(
        "Eliminar tarjeta",
        "Delete",
        "Tarjetas",
        null,
        new
        {
            @class = "btn btn-danger ms-2",
        }
    )

</div>
