@model IEnumerable<Frontek_Full_Web_E_Commerce.Models.Tarjeta.Tarjeta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TarjetaEncriptada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Propietario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TarjetaEncriptada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CCVEncriptado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Propietario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdUsuario })
        </td>
    </tr>
}

</table>
